mixin demoBox(name, description, basePath, teaserImage)
      if teaserImage
        .col-sm-12.col-lg-6
          .thumbnail
            a(href=basePath)
              img(src=teaserImage, alt='Teaser')
            h3
              a(href=basePath) #{name}
            p !{description}
      else
        h3
          a(href=basePath) #{name}
        p !{description}